* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #ff9587, #ff6d6d);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form input,
form button {
  background: white;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}

form button {
  color: #ff6d6d;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background: #ff6d6d;
}
